

<script type="text/javascript" src="assets/lilyjavascript02.js"></script>
<script type="text/javascript" src="assets/lilyjavascript07.js"></script>

<% provide(:title, "About") %>
<h1>About... javascript</h1>



<h2 id="helloMessage">
</h2>

<h3 align="left">
		<a href="http://maintenance.yottaa.com/" id="redirect">redirect to maintenance page!</a>
	</h3>
<p>
  The <a href="http://www.railstutorial.org/"><em>Ruby on Rails
  Tutorial</em></a> is a
  <a href="http://www.railstutorial.org/book">book</a> and
  <a href="http://screencasts.railstutorial.org/">screencast series</a>
  to teach web development with
  <a href="http://rubyonrails.org/">Ruby on Rails</a>.
  This is the sample application for the tutorial.
</p>