
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Layered Divs</title>
	<link type="text/css" href="assets/chap12script07.css" rel="stylesheet" />
	<script type="text/javascript" src="assets/chap12script07.js"></script>
</head>
<body>
	<div id="annoyingAdvert">
		This is an incredibly annoying ad of the type you might find on some web sites.
		<div id="closeBox">&otimes;</div>
	</div>
	<p> First section </p>
	
	<p> Second</p>
	
	<p> Third</p> 
	
	<p> Forth</p>
</body>
</html>