<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Three-state Rollovers</title>
	<script type="text/javascript" src="assets/chap8Script07.js"></script>
</head>
<body bgcolor="#FFFFFF">
	<a href="next1.html"><img src="assets/button1_off.gif" width="113" height="33" border="0" alt="button1" /></a>&nbsp;&nbsp;
	<a href="next2.html"><img src="assets/button2_off.gif" width="113" height="33" border="0" alt="button2" /></a>

	<a href="test.html"><img src="assets/pixel1.jpg" onmouseover= "this.src='pixel2.jpg'" onmouseout= "this.src='pixel1.jpg'" width="113" height="33" border="0" alt="pixel1" /></a>&nbsp;&nbsp;
	<a href="test.html "><img src="assets/pixel2.jpg" width="113" height="33" border="0" alt="pixel2" /></a>




</body>
</html>
