
	<form id="myForm" action="form_action.asp">

	<!simple form design good>
	<form id="myForm" method= "post" action="http://www.w3schools.com/tags/demo_form_method_post.asp">
  	<Name: <input type="text" name="name"><br>
  	<Password: <input type="text" name="pass"><br><br>
  	<input type="button" onclick="myFunction()" value="Submit form">
</form>

<script>
function myFunction() {
    document.getElementById("myForm").submit();
}
</script>