<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">


<head>
	<title>Rotating Random Banner</title>
	<script type="text/javascript" src="script11.js"></script>
</head>
<body bgcolor="#FFFFFF">
	<div align="center">
		<img src="assets/spacer.gif" width="400" height="75" id="adBanner" alt="Ad Banner" />
	</div>
</body>

<!head>
	<!title>Random Image<!/title>
	<!script type="text/javascript" src="script10.js"></script>	
<!/head>
<!body bgcolor="#FFFFFF">
	<!img src="assets/spacer.gif" width="305" height="312" id="myPicture" alt="some image" />
<!/body>



<!head>
	<!title>Image Slideshow<!/title>
	<!script type="text/javascript" src="assets/script09.js"></script>	
<!/head>
<!body bgcolor="#FFFFFF">
	<!div align="center">
		<!h1>Welcome, slide show!</h1>
		<!img src="assets/robot1.jpg" id="myPicture" width="200" height="400" alt="Slideshow" />
		<!h2><!a href="previous.html" id="prevLink">&lt;&lt; Previous<!/a>&nbsp;&nbsp;<!a href="next.html" id="nextLink">Next &gt;&gt;<!/a><!/h2>
	<!/div>
<!/body>



<!head>
	<!title>Rotating Banner with Links<!/title>
	<!script type="text/javascript" src="assets/script08.js"></script>
<!/head>
<!body bgcolor="#FFFFFF">
	<!div align="center">
		<!a href="http://www.w3schools.com/jquery/event_mouseover.asp"><!img src="assets/banner1.gif" width="400" height="75" id="adBanner" border="0" alt="ad banner" /></a>
	<!/div>
<!/body>



<!head>
	<!title>Rotating Banner</title>
	<!script type="text/javascript" src="assets/script07.js"></script>
<!/head>
<!body bgcolor="#FFFFFF">
	<!div align="center">
		<!img src="assets/reading1.gif" width="400" height="75" id="adBanner" alt="Ad Banner" />
	<!/div>
<!/body>


<!head>
	<!title>A More Effective Rollover</title>
	<!script type="text/javascript" src="assets/script02.js"></script>
<!/head>
<!body bgcolor="#FFFFFF">
	<!a href="http://www.w3schools.com/jquery/event_mouseover.asp"><!img src="assets/button1_off.gif" width="113" height="33" border="0" alt="button1" id="button1" /></a>&nbsp;&nbsp;
	<!a href="http://www.w3schools.com/jquery/event_mouseover.asp"><!img src="assets/button2_off.gif" width="113" height="33" border="0" alt="button2" id="button2" /></a>
<!/body>




<!head>
<!title>A Simple Rollover<!/title>
<!/head>
<!body bgcolor="#FFFFFF">
<!a href="http://www.w3schools.com/jquery/event_mouseover.asp" onmouseover="document.arrow.src='assets/arrow_on.gif'" onmouseout="document.arrow.src='/assets/arrow_off.gif'"><!img src="assets/arrow_off.gif" width="147" height="82" border="0" name="arrow" alt="arrow" /></a>
<!/body>

</html>